{% extends 'base.html.twig' %}

{% block title %}Document user{% endblock %}

{% block body %}
    <h1>Adding a file</h1>

    {{ form_start(form, { attr: {novalidate: 'novalidate'} }) }}

    {{ form_row(form.brochure) }}
    <button id="submit" type="submit" class="btn btn-primary">submit</button>
    {{ form_end(form) }}
{% endblock %}