<header class="container-fluid  py-4 bg-dark text-white">
    <div class="row">
        <div class="row py-4">
            <div class="col-sm-10 mx-auto text-center">
                <p>
                    FAMILLE, VIE SOCIALE, SANTE FINANCIERE. ETES VOUS PRET A TOUT MISER ? POUR ETRE AIDE, APPELEZ LE 09-74-75-13-12
                </p>
            </div>
            <div class="col-sm-10 mx-auto text-center">
                <H4 class="text-danger">
                    LES JEUX D'ARGENT ET DE HASARD SONT INTERDIT AUX MINEURS
                </H4>
            </div>
        </div>
    </div>
</header>